:root {
  --primary-brown: #A96C42;
  --light-cream: #FBF0DA;
  --grayish-green: #BFC9BF;
  --dark-brown: #271F18;
  --olive-green: #A9A67D;
  --black: #000000;
  --white: #FFFFFF;
  --head-bg:#FAF7F2;
  --foot-bg:#fcfaf2;
  --hero-center: #BFC9BFB3;
  --faq-bg: #d2d8ce;
}
