:root {
  --primary-brown: #a96c42;
  --light-cream: #fbf0da;
  --grayish-green: #bfc9bf;
  --dark-brown: #271f18;
  --olive-green: #a9a67d;
  --black: #000000;
  --white: #ffffff;
  --head-bg: #faf7f2;
  --foot-bg: #fcfaf2;
  --hero-center: #bfc9bfb3;
  --faq-bg: #d2d8ce;
}
